.newList{
    text-align: center;
    font-size: 4rem;
    color: #ffd700;
    -webkit-text-stroke: 1px #000000;
    list-style: none;
    li {
        margin: 10px 0px 10px 0px;
        text-decoration: none;
    }
}